.touch-box {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  flex: 1 0 33%;
  justify-self: center;
  text-decoration: none;
  color: rgba(242, 247, 251, 0.65);
  &__img-wrap {
    margin-bottom: 16px;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background: rgba(242, 247, 251, 8%);
    margin: 0 auto;
    border: 1px solid rgba(242, 247, 251, 0.25);
    position: relative;
    // width: 55px;
    svg {
      fill: #fff;
      width: 25px;
      height: 25px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      filter: blur(20px);
      opacity: 0;
      border-radius: inherit;
      background: rgba(192, 216, 53, 0.13);
      z-index: -1;
      transition: all 0.3s ease;
    }
    &:hover::after {
      transform: scale(1.2);
      opacity: 0.5;
    }
  }
  &__text {
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
  }
}
