.container {
  // color: var(--font-color);
  &-featured {
    grid-column: span 2/span 1;
  }
  &-link__wrap {
    transition-duration: 1s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    width: 100%;
  }

  &-img {
    img {
      height: 16rem;
      transition-duration: .5s;
      object-fit: cover;
      border-radius: 0.5rem;
      overflow: hidden;
      width: 100%;
      position: relative;
    }
  }

  &-title {
    color: var(--primary-color);
    transition-duration: 1s;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    min-height: 64px;
  }

  &-date {
    font-size: 1.2rem;
    color: var(--primary-color)
  }

  &-content {
    color: var(--third-color)

  }
}