@import '../font/font.css';
/* @import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination'; */
html {
  scroll-behavior: smooth;
  --primary-color: rgb(35, 43, 49);
  --second-color: #e5eae2;
  --third-color: #60746d;
  --font-color: #d2dad0;;
  --lemon-yellow: #fffd73;
  --content-color: rgb(178, 147, 141);
}

body {
  margin: 0;
  font-family: 'Belanosima', 'Noto SansTC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(150deg, #60746d, var(--lemon-yellow)); */
  background-color: var(--font-color);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: var(--font-color)
}

.main {
  margin-top: 86px;
  min-height: calc(100vh - 86px);
}

::selection {
  color: #fff;
  background: rgb(51, 35, 61);
}

/* 網頁捲軸【寬度】 */
::-webkit-scrollbar {
  width: 5px;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
  background: #666;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
  background: #ddd;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.hide-link {
  display: none !important;
}

.swiper-pagination-bullet {
  background: var(--primary-color) !important;
}

.swiper-pagination-bullet-active { 
  background: var(--second-color) !important;
}


